@using System.Web.Mvc.Html
@using EPiServer.Shell.Web.Mvc.Html
@using EPiServer.Web.Routing
@using Furb.Main.Lib.Epi.Extensions
@using Furb.Main.Lib.Epi.Helpers
@using Furb.Main.Lib.Epi.Interfaces
@using Furb.Main.Lib.EpiExtensions
@using Furb.Features.LocalBlocks.Image
@model Furb.Features.Blocks.EventList.EventListBlockViewModel

<div class="row">
    <div class="medium-12 columns">
        <div class="eventListing">

            @if (!String.IsNullOrEmpty(Model.CurrentBlock.Header))
            {
                <h2 @Html.EditAttributes(x => x.CurrentBlock.Header)>@Model.CurrentBlock.Header</h2>
            }

            @if (Model.TimeSpan.Any() && Model.TimeSpan.Count() > 1)
            {
                using (Html.BeginForm(null, null, HttpContext.Current.Request.RequestContext.GetPageRoute(Model.CurrentPage), FormMethod.Post))
                {
                    <label for="TimeSpan">@Html.Translate("/event/ViewText")</label>
                    <div class="row">
                        <div class="medium-9 columns">
                            @Html.DropDownList("TimeSpan")
                        </div>
                        <div class="medium-3 columns">
                            <input type="submit" value="@Html.Translate("/event/ViewButton")" class="button" />
                        </div>
                    </div>
                }
            }

            @if (Model.Pages.Any())
            {
                <ul class="listing media">

                    @foreach (var page in Model.Pages)
                    {
                        var pageAsIHasMainImage = (IHasMainImage<ImageBlock>)page;
                        var className = Model.CurrentBlock.ShowImages && pageAsIHasMainImage != null ? "medium-9 columns" : "medium-12 columns";

                        <li>
                            <div class="clickableArea highlight">
                                <div class="row collapse">
                                    <div class="medium-12 columns">
                                        <div class="row">
                                            <div class="small-3 columns">
                                                <div class="text-center calendar-dates">
                                                    <time class="CalendarEventDateDay" datetime="@page.EventInformation.StartTime.ToString("s")">@page.EventInformation.StartTime.Day</time>
                                                    <time class="CalendarEventDateMonth" datetime="@page.EventInformation.StartTime.ToString("s")">@page.EventInformation.StartTime.ToString("MMMM").ToUpper()</time>
                                                </div>
                                            </div>

                                            <div class="small-9 columns">

                                                <h3><a href="@UrlResolver.Current.GetUrl(page.ContentLink)">@page.Name</a></h3>

                                                <div class="row collapse">
                                                    @if (Model.CurrentBlock.ShowImages && pageAsIHasMainImage?.PrimaryImageBlock != null && pageAsIHasMainImage.PrimaryImageBlock.Image != null && !String.IsNullOrEmpty(pageAsIHasMainImage.PrimaryImageBlock.AltText))
                                                    {
                                                        <div class="medium-3 columns">
                                                            <div class="CalendarImg center">
                                                                @Html.DisplayFor(x => page.PrimaryImageBlock)
                                                            </div>
                                                        </div>
                                                    }

                                                    @if (Model.CurrentBlock.ShowIntroduction)
                                                    {
                                                        <div class="@className">
                                                            <div class="CalendarEventTeaserText">
                                                                <p>
                                                                    @page.GetTeaserText()

                                                                    @if (Model.CurrentBlock.ShowPublishDate && page.StartPublish != null)
                                                                    {
                                                                        <span class="pub-date">@Html.Translate("/event/publish")</span>
                                                                        <time class="pub-date" datetime='@page.StartPublish.Value.ToString("s")'>@page.StartPublish.Value.ToString("d MMMM yyyy")</time>
                                                                    }
                                                                </p>
                                                            </div>
                                                        </div>
                                                    }
                                                </div>
                                                
                                                <div class="row">
                                                    @if (!string.IsNullOrEmpty(page.EventInformation.City) || !string.IsNullOrEmpty(page.EventInformation.EventVenue))
                                                    {
                                                        <div class="small-12 medium-6 columns">
                                                            <div class="CalendarEvent-time">
                                                                <span class="day">@EventHelpers.TimeSpan(page.EventInformation)</span>
                                                            </div>
                                                        </div>

                                                        <div class="small-12 medium-6 columns">
                                                            <div class="CalendarEvent-place">
                                                                @page.EventInformation.City<br />
                                                                @page.EventInformation.EventVenue
                                                            </div>
                                                        </div>
                                                    }
                                                    else
                                                    {
                                                        <div class="small-12 medium-12 columns">
                                                            <div class="CalendarEvent-time">
                                                                <span class="day">@EventHelpers.TimeSpan(page.EventInformation)</span>
                                                            </div>
                                                        </div>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    }
                </ul>
            }
        </div>
    </div>
</div>

@if (Model.CurrentBlock.ShowRootLink)
{
    var linkText = !string.IsNullOrEmpty(Model.CurrentBlock.RootLinkText) ? Model.CurrentBlock.RootLinkText : Model.CurrentBlock.RootLink.GetPage().PageName;
    <div class="rootLink">
        <a href="@UrlResolver.Current.GetUrl(Model.CurrentBlock.RootLink)">@linkText</a>
    </div>
}