﻿@using EPiServer.Web.Mvc.Html
@model Furb.Features.LocalBlocks.Footer.FooterBlock

<footer>
    <div class="row">
        <div class="medium-4 columns">
            <div class="contactInfo">
                @if (!String.IsNullOrEmpty(Model.FooterColumn1Header))
                {
                    <h1>@Html.PropertyFor(x => x.FooterColumn1Header)</h1>
                    @Html.PropertyFor(x => x.FooterColumn1)
                }
            </div>
        </div>

        <div class="medium-4 columns">
            <div class="followUsLinks">
                @if (!String.IsNullOrEmpty(Model.FooterColumn2Header))
                {
                    <h1>@Html.PropertyFor(x => x.FooterColumn2Header)</h1>

                    if (Model.SocialLinkList != null && Model.SocialLinkList.Any())
                    {
                        <div class="followUsBlock">
                            <ul class="followUsList">
                                @foreach (var socialItem in Model.SocialLinkList)
                                {
                                    <li>
                                        <a class="@socialItem.CssClass" target="_blank" href="@socialItem.Link">@socialItem.Text</a>
                                    </li>
                                }
                            </ul>
                        </div>
                    }
                }
            </div>
        </div>
        <div class="medium-4 columns">
            <div class="footerLinks">
                @if (!String.IsNullOrEmpty(Model.FooterColumn3Header))
                {
                    <h1>@Html.PropertyFor(x => x.FooterColumn3Header)</h1>

                    if (Model.FooterColumn3 != null)
                    {
                        @Html.PropertyFor(x => x.FooterColumn3)
                    }
                }
            </div>
        </div>
    </div>
</footer>