﻿@using EPiServer.Core
@using EPiServer.Shell.Web.Mvc.Html
@using EPiServer.Web.Mvc.Html
@using FunkaLib.Forms.Enum
@using FunkaLib.Forms.Validators
@model FunkaLib.Forms.Blocks.FurbTextBoxBlock

@{
    var isRequired = Model.IsRequired();
    var content = (IContent)Model;
    var name = content.Name;
    var autoComplete = string.Empty;
    var maxCharCount = 0;
    var type = "text";

    switch (Model.TypeSelect)
    {
        case TextBoxType.Text:
            type = "text";
            break;

        case TextBoxType.Number:
            type = "number";
            break;

        case TextBoxType.Email:
            type = "email";
            break;

        case TextBoxType.Tel:
            type = "tel";
            break;

        case TextBoxType.Time:
            type = "time";
            break;

        case TextBoxType.Url:
            type = "url";
            break;

        case TextBoxType.Week:
            type = "week";
            break;

        default:
            type = "text";
            break;

    }

    if (Model.AutoCompleteSelect > 0)
    {
        switch (Model.AutoCompleteSelect)
        {
            case AutoComplete.Empty:
                autoComplete = "";
                break;

            case AutoComplete.Off:
                autoComplete = "off";
                break;

            case AutoComplete.Other:
                autoComplete = !string.IsNullOrEmpty(Model.AutoComplete) ? Model.AutoComplete : "";
                break;

            default:
                autoComplete = Model.AutoCompleteSelect.ToString().Replace("__", " ").Replace("_", "-").ToLower();
                break;
        }
    }
    else
    {
        if (!string.IsNullOrEmpty(Model.AutoComplete))
        {
            autoComplete = Model.AutoComplete;
        }
    }

    var furbMaxCharValidator = (FurbMaxCharValidator)Model.FormElement.Validators.SingleOrDefault(x => x.GetType() == typeof(FurbMaxCharValidator));

    if (furbMaxCharValidator != null && furbMaxCharValidator.MaxCharCount > 0)
    {
        maxCharCount = furbMaxCharValidator.MaxCharCount;
    }
}

<div class="form-field Form__Element FormTextbox @(Model.IsTextArea ? "FormTextbox--Textarea" : string.Empty) @Model.GetValidationCssClasses()" data-epiforms-element-name="@Model.FormElement.ElementName" data-label="@name">
    <label for="@Model.Content.ContentGuid" @Html.EditAttributes(x => x.Label)>
        @name
        @(!isRequired ? Html.Translate("/episerver/forms/optional") : string.Empty)
        <span class="Form__Element__ValidationError" data-epiforms-linked-name="@Model.FormElement.ElementName" style="display: none;"></span>
    </label>

    @if (Model.IsTextArea)
    {
        <textarea class="FormTextbox__Input" id="@Model.Content.ContentGuid" name="@Model.FormElement.ElementName" @(isRequired ? "required" : string.Empty) @(maxCharCount > 0 ? "maxlength=" + maxCharCount + "" : string.Empty) @(!string.IsNullOrEmpty(autoComplete) ? "autocomplete=" + autoComplete : string.Empty)></textarea>
    }
    else
    {
        <input class="FormTextbox__Input" type="@type" id="@Model.Content.ContentGuid" name="@Model.FormElement.ElementName" @(isRequired ? "required" : string.Empty) @(maxCharCount > 0 ? "maxlength=" + maxCharCount + "" : string.Empty) @(!string.IsNullOrEmpty(autoComplete) ? "autocomplete=" + autoComplete : string.Empty) />
    }
</div>