﻿@model Furb.Features.LocalBlocks.EditorWithHeader.EditorWithHeaderBlock

<h2 @Html.EditAttributes(x => x.Header)>
    @Html.DisplayFor(x => x.Header)
</h2>

<div @Html.EditAttributes(x => x.Text)>
    @if (Model?.Text != null && !Model.Text.IsEmpty)
    {
        <div class="editorBlock">
            @Html.DisplayFor(x => x.Text)
        </div>
    }
</div>