@using EPiServer.Web.Mvc.Html

@model Furb.Features.Pages.Event.EventPageViewModel

@{
    Layout = "~/Main/Views/Shared/Layouts/_Site.cshtml";
    var showMainImage = Model.CurrentPage.PrimaryImageBlock != null && Model.CurrentPage.PrimaryImageBlock.Image != null && !String.IsNullOrEmpty(Model.CurrentPage.PrimaryImageBlock.AltText);
}

<div class="row">
    <div class="contentarea">
        <div class="medium-3 columns hide-for-small-only hide-for-print">
            @{Html.RenderPartial("SubNavigation", Model);}
        </div>
        <div class="medium-9 small-12 columns">
            <main>
                <div class="centerArea">
                    <a id="MainContentArea" tabindex="-1"></a>

                    @if (showMainImage)
                    {
                        <div class="mainImage">
                            @Html.PropertyFor(x => x.CurrentPage.PrimaryImageBlock)
                        </div>
                    }

                    <h1 @Html.EditAttributes(x => x.CurrentPage.PageName)>
                        @Html.PropertyFor(x => x.CurrentPage.PageName)
                    </h1>

                    <div class="calendarListing">
                        @Html.PropertyFor(x => x.CurrentPage.EventInformation)
                    </div>

                    <div>
                        @Html.PropertyFor(x => x.CurrentPage.MainContentBlock)
                        @Html.PropertyFor(x => x.CurrentPage.MainContentArea)
                    </div>
                </div>
            </main>
        </div>
    </div>
</div>