﻿@using EPiServer.Core
@using EPiServer.Shell.Web.Mvc.Html
@model FunkaLib.Forms.Blocks.FurbDropDownBlock

@{
    var isRequired = Model.IsRequired();
    var content = (IContent)Model;
    var name = content.Name;
}

<div class="form-field Form__Element FormSelection @Model.GetValidationCssClasses()" data-f-element-name="@Model.FormElement.ElementName" data-f-type="selection" data-label="@name" data-required="@Html.Translate("/episerver/forms/required")">
    <label for="@Model.Content.ContentGuid" @Html.EditAttributes(x => x.Label)>
        @name
        @(!isRequired ? Html.Translate("/episerver/forms/optional") : string.Empty)
        <span class="Form__Element__ValidationError" data-f-linked-name="@Model.FormElement.ElementName" data-f-validationerror="" style="display: none;"></span>
    </label>

    <select name="@Model.FormElement.ElementName" id="@Model.Content.ContentGuid" required="required" data-f-datainput="">
        <option disabled="disabled" @(Model.Items.Any(x => x.Checked.HasValue && x.Checked.Value) ? "" : "selected") value="">@Html.Translate("/episerver/forms/defaultselectvalue")</option>
        @foreach (var item in Model.Items)
        {
            <option value="@item.Value" @(item.Checked.HasValue && item.Checked.Value ? "selected" : string.Empty)>@item.Caption</option>
        }
    </select>
</div>