﻿@using EPiServer.Web.Routing
@using Furb.Main
@model Furb.Features.Pages.Shared.SitePageData

@helper BreadTemplate(HtmlHelpers.BreadCrumbItem breadItem)
{
    if (breadItem.Ancestors.Any())
    {
        <div class="row">
            <nav class="medium-12 columns">
                <ul class="breadcrumbs" aria-label="navigasjonssti" role="menubar">
                    @foreach (var item in breadItem.Ancestors)
                    {
                        <li role="menuitem">
                            <a href="@UrlResolver.Current.GetUrl(item.ContentLink)">@item.Name</a>
                        </li>
                    }
                    <li role="menuitem" class="current">
                        <span>
                            <b>@Model.Name</b>
                        </span>
                    </li>
                </ul>
            </nav>
        </div>
    }
}

@Html.BreadCrumbList(BreadTemplate, Model.PageLink)