﻿@using Furb.Main

@{
    var settingsPage = ContentReferenceExtended.SettingsPage;
}

@if (settingsPage != null)
{
    if (settingsPage.ImportantNoticeActive && settingsPage.ImportantNoticeText != null && !string.IsNullOrWhiteSpace(settingsPage.ImportantNoticeText.ToString()))
    {
        <div class="js-importantnotice-info-container importantnotice-wrapper hide-for-print" style="display: none;" role="status">
            <div class="importantnotice-block">
                <div class="row">
                    <div class="large-8 medium-10 medium-centered columns">
                        @Html.Raw(settingsPage.ImportantNoticeText)

                        <button class="button js-close-importantnotice-info">@Html.Translate("/ImportantNotice/Approve")</button>
                    </div>
                </div>
            </div>
        </div>
    }
}