﻿@using Furb.Main
@using Furb.Main.Lib.EpiExtensions

@model Furb.Main.Interfaces.IPageViewModel<Furb.Features.Pages.Shared.SitePageData>

<nav id="GlobalNavigation" class="globalNavigation" aria-label="main">
    <ul class="nav-bar">
        @{var closestStartPage = Model.CurrentPage.ContentLink.GetStartPage<Furb.Features.Pages.Start.StartPage>(); }

        @{
            if (closestStartPage.VisibleInMenu)
            {
                <li class="@(Model.CurrentPage.ContentLink.CompareToIgnoreWorkID(closestStartPage.ContentLink) ? "active" : null)">@Html.PageLink(closestStartPage.PageLink)</li>
            }

            @Html.MenuList(closestStartPage.ContentLink,
        @<li class="@(item.Selected ? "active" : null)">
            @if (item.SelectedAndCurrentPage)
            {
                <span>@item.Page.PageName</span>
            }
            else
            {
                @Html.PageLink(item.Page)
            }
        </li>)
        }
    </ul>
</nav>