﻿@using System.Web.Mvc.Html
@using EPiServer.Editor
@using EPiServer.Shell.Web.Mvc.Html
@model RouteValueDictionary

@{
    var searchFieldId = Guid.NewGuid();
}

@using (Html.BeginForm(null, null, Model, PageEditing.PageIsInEditMode ? FormMethod.Post : FormMethod.Get, new Dictionary<string, object> { { "role", "search" } }))
{
    <div class="row">
        <div class="medium-9 columns">
            <label for="@searchFieldId" class="show-for-sr">@Html.Translate("/search/searchbutton")</label>
            <input type="search" data-autocomplete="false" class="searchKeywords" id="@searchFieldId" name="q" placeholder="@Html.Translate("/search/searchtextfield")" />
        </div>
        <div class="medium-3 columns">
            <input type="submit" class="button" value="@Html.Translate("/search/searchbutton")" />
        </div>
    </div>
}