/*
This CSS resource incorporates links to font software which is the valuable copyrighted
property of Monotype Imaging and/or its suppliers. You may not attempt to copy, install,
redistribute, convert, modify or reverse engineer this font software. Please contact Monotype
Imaging with any questions regarding Web Fonts:  http://webfonts.fonts.com
*/


@font-face {
    font-family: "AvantGardeGothic Book";

    src:    url("webfonts/2a334c60-3e0d-4f43-b0e9-5284ea33961a.eot?#iefix");
    src:    url("webfonts/2a334c60-3e0d-4f43-b0e9-5284ea33961a.eot?#iefix") format("eot"), 
            url("webfonts/c68f0543-0caf-4988-b234-355520476b8c.woff") format("woff"), 
            url("webfonts/2d4f1d98-ddb3-4acc-ae78-c8b1863f780e.ttf") format("truetype");
}
@font-face{
    font-family: "AvantGardeGothic Semi";

	src:    url("webfonts/b74e5f86-4477-435a-abdf-32d8215f21bc.eot?#iefix");
	src:    url("webfonts/b74e5f86-4477-435a-abdf-32d8215f21bc.eot?#iefix") format("eot"),
	        url("webfonts/c18aee57-7585-4a8b-9a1c-69d226301d73.woff") format("woff"),
            url("webfonts/44ccbb2b-0fbc-4d95-b1da-0aa73bd26fb0.ttf") format("truetype");
}
