﻿@using System.Web.Mvc.Html
@using EPiServer.Web.Mvc.Html

@model Furb.Main.Interfaces.IPageViewModel<Furb.Features.Pages.Shared.ContentPageData>

@{
    Layout = "_Site.cshtml";
    var showMainImage = Model.CurrentPage.PrimaryImageBlock != null && Model.CurrentPage.PrimaryImageBlock.Image != null && (!string.IsNullOrEmpty(Model.CurrentPage.PrimaryImageBlock.AltText) || Model.CurrentPage.PrimaryImageBlock.DecorativeImage);
}

<div class="row">
    <div class="contentarea">
        <div class="medium-4 columns hide-for-small-only hide-for-print">
            @{Html.RenderPartial("SubNavigation", Model);}
        </div>
        <div class="medium-8 small-12 columns">
            <main>
                <div class="centerArea">
                    <a id="MainContentArea" tabindex="-1"></a>

                    <h1 @Html.EditAttributes(x => x.CurrentPage.PageName)>
                        @Html.PropertyFor(x => x.CurrentPage.PageName)
                    </h1>
                    
                    <div class="contentArea">
                        @Html.PropertyFor(x => x.CurrentPage.TopContentArea)
                    </div>

                    @if (showMainImage)
                    {
                        <div class="mainImage">
                            @Html.PropertyFor(x => x.CurrentPage.PrimaryImageBlock)
                        </div>
                    }
                    
                    @Html.PropertyFor(x => x.CurrentPage.MainContentBlock)


                    @RenderBody()

                    @if (!Model.CurrentPage.HideShareLinks)
                    {
                        @Html.PropertyFor(x => x.Layout.SocialMediaShareLinks)
                    }
                </div>
            </main>
        </div>
    </div>
</div>