﻿@using EPiServer.Web.Mvc.Html

@model Furb.Main.Interfaces.IPageViewModel<Furb.Features.Pages.Shared.SitePageData>

@{
    Layout = "_Site.cshtml";
}

<div class="largeImage hide-for-print hide-for-small-only"></div>

<div class="row">
    <div class="contentarea">
        <div class="medium-12 small-12 columns">
            <main>
                <div class="centerArea">
                    <a id="MainContentArea" tabindex="-1"></a>

                    <h1 @Html.EditAttributes(x => x.CurrentPage.PageName)>
                        @Html.PropertyFor(x => x.CurrentPage.PageName)
                    </h1>

                        @RenderBody()
                        
                    @Html.PropertyFor(x => x.Layout.SocialMediaShareLinks)
                        
                </div>
            </main>
        </div>
    </div>
</div>