﻿@using System.Web.Mvc.Html

@model Furb.Main.Interfaces.IPageViewModel<Furb.Features.Pages.Shared.SitePageData>

@{
    Layout = "_Site.cshtml";
}

<div class="row">
    <div class="contentarea">
        <div class="medium-4 columns hide-for-small-only hide-for-print">
            @{Html.RenderPartial("SubNavigation", Model);}
        </div>
        <div class="medium-8 small-12 columns">
            <main>
                <div class="centerArea">
                    <a id="MainContentArea" tabindex="-1"></a>

                    @RenderBody()

                </div>
            </main>
        </div>
    </div>
</div>