﻿@using Furb.Main
@using StartPage = Furb.Features.Pages.Start.StartPage
@model Furb.Main.Interfaces.IPageViewModel<Furb.Features.Pages.Shared.SitePageData>

@{
    Layout = "_Root.cshtml";
}
<div>
    <div id="skiplinks">
        <a class="show-on-focus" href="#MainContentArea">@Html.Translate("/Site/ToMainContent")</a>
    </div>

    <header>
        @if (ContentReferenceExtended.StartPageData.LinkItemCollection!=null) {
            @Html.Partial("FunctionLinks", ContentReferenceExtended.StartPageData.LinkItemCollection)
        }        

        <div class="row">
            <div class="medium-6 small-12 columns">
                <div class="logoType" @Html.EditAttributes(x => x.Layout.SiteLogotype)>
                    @if (Model.CurrentPage is StartPage)
                    {
                        <h1>@Html.PropertyFor(x => x.Layout.SiteLogotype, Model)</h1>
                    }
                    else
                    {
                        @Html.PropertyFor(x => x.Layout.SiteLogotype, Model)
                    }
                    <span class="logo-text">Features for Accessibility through Templates</span>
                </div>
            </div>

            <div class="medium-6 columns hide-for-small-only hide-for-print">
                <div id="quickSearchArea" class="quickSearchArea">
                    <div>
                        @*@{ Html.RenderPartial("QuickSearch", Model.Layout.SearchPageRouteValues); }*@
                    </div>
                </div>
            </div>
        </div>

        <div class="globalNavigationArea">
            <div class="row hide-for-small-only hide-for-print">
                <div class="medium-12 columns">
                    @{ Html.RenderPartial("MainNavigation", Model); }
                </div>
            </div>
        </div>

        <div class="row show-for-small-only collapse hide-for-print">
            <div class="mobileTriggers">
                <div class="small-6 columns">
                    <div class="menuLink">
                        <button id="togglemain" type="button" aria-controls="GlobalNavigation">@Html.Translate("/Site/Header/Menu")</button>
                    </div>
                </div>
                <div class="small-6 columns">
                    <div class="searchLink">
                        <button id="togglesearch" type="button" aria-controls="SearchArea">@Html.Translate("/Search/SearchButton")</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="row show-for-small-only collapse hide-for-print">
            <div class="small-12 columns">
                <div class="smallSearchArea" id="SearchArea">
                    @*@{ Html.RenderPartial("QuickSearch", Model.Layout.SearchPageRouteValues); }*@
                </div>
            </div>
            <div class="small-12 columns">
                @{ Html.RenderPartial("MobileMenu"); }
            </div>
        </div>
    </header>

    <div>
        @RenderBody()
    </div>
</div>

@Html.PropertyFor(x => x.Layout.Footer)