﻿@using System.Web.Mvc.Html
@using EPiServer.Web.Mvc.Html

@model Furb.Main.Interfaces.IPageViewModel<Furb.Features.Pages.Shared.SitePageData>

@{
    Layout = "_Site.cshtml";
}

<div class="largeImage hide-for-print hide-for-small-only"></div>

<div class="row">
    <div class="contentarea">
        <div class="medium-4 columns hide-for-small-only hide-for-print">
            @{Html.RenderPartial("SubNavigation", Model);}
        </div>
        <div class="medium-8 small-12 columns">
            <main>

                <div class="centerArea">
                    <a id="MainContentArea" tabindex="-1"></a>
                    <h1 @Html.EditAttributes(x => x.CurrentPage.PageName)>
                        @Html.PropertyFor(x => x.CurrentPage.PageName)
                    </h1>

                    @RenderBody()
                    @Html.PropertyFor(x => x.Layout.SocialMediaShareLinks)
                </div>
            </main>
        </div>
    </div>
</div>
