﻿@model Furb.Main.Interfaces.IPageViewModel<Furb.Features.Pages.Start.StartPage>

@{
    Layout = "_Site.cshtml";
}

    <main>
        <div class="row">
            <div class="medium-12 columns ">


                        <a id="MainContentArea" tabindex="-1"></a>
                        <div class="centerArea">

                            <div class="contentarea">
                                @RenderBody()
                            </div>
                        </div>


            </div>
        </div>
    </main>
