﻿@using Furb.Main.Lib.Epi.Helpers
@model String

@{
    var id = string.Empty;
}

<div class="form-field">
    <label for="@Html.IdFor(m => m)">
        @Html.DisplayNameFor(m => m)

        @if (ViewData.ModelMetadata.IsRequired)
        {
            var formIndexFromController = TempData.ContainsKey("formIndex") ? TempData["formIndex"].ToString() : string.Empty;
            var formIndexFromViewData = ViewData.ContainsKey("formIndex") ? ViewData["formIndex"].ToString() : string.Empty;
            if (!string.IsNullOrWhiteSpace(formIndexFromController) && !string.IsNullOrWhiteSpace(formIndexFromViewData) && formIndexFromController == formIndexFromViewData)
            {
                foreach (var pair in ViewData.ModelState)
                {
                    if (pair.Key.Equals(ViewData.ModelMetadata.PropertyName))
                    {
                        foreach (var error in pair.Value.Errors)
                        {
                            <br/>
                            <span class="field-validation-error">@error.ErrorMessage</span>
                        }
                    }
                }
            }
        }
        else
        {
            <span>@Html.Translate("/FileUploadFormModel/Error/required")</span>
        }
    </label>

    @if (ViewData.ModelMetadata.AdditionalValues != null && ViewData.ModelMetadata.AdditionalValues.Any() && ViewData.ModelMetadata.AdditionalValues.ContainsKey("DescribedBy"))
    {
        id = "span" + Html.IdFor(m => m);

        <span id="@id">@ViewData.ModelMetadata.AdditionalValues.FirstOrDefault(item => item.Key == "DescribedBy").Value.ToString()</span>
    }

    @Html.TextAreaFor(m => m, new {data_label = Html.DisplayNameFor(m => m)}).Required(ViewData.ModelMetadata).TabIndex(ViewData.ModelMetadata).DescribedBy(id)
</div>