﻿/*
This CSS resource incorporates links to font software which is the valuable copyrighted
property of Monotype Imaging and/or its suppliers. You may not attempt to copy, install,
redistribute, convert, modify or reverse engineer this font software. Please contact Monotype
Imaging with any questions regarding Web Fonts:  http://webfonts.fonts.com
*/

@font-face{
	/*font-family: "AvantGardeGothicITCW01B 731069";*/
    font-family: "AvantGardeGothic Book";

	src:    url("funka/fonts/webfonts/2a334c60-3e0d-4f43-b0e9-5284ea33961a.eot?#iefix");
    src:    url("funka/fonts/webfonts/2a334c60-3e0d-4f43-b0e9-5284ea33961a.eot?#iefix") format("eot"),
	        url("funka/fonts/webfonts/c68f0543-0caf-4988-b234-355520476b8c.woff") format("woff"),
            url("funka/fonts/webfonts/2d4f1d98-ddb3-4acc-ae78-c8b1863f780e.ttf") format("truetype");
}
@font-face{
	/*font-family: "AvantGardeGothicITCW01D 731075";*/
    font-family: "AvantGardeGothic Semi";

	src:    url("funka/fonts/webfonts/b74e5f86-4477-435a-abdf-32d8215f21bc.eot?#iefix");
	src:    url("funka/fonts/webfonts/b74e5f86-4477-435a-abdf-32d8215f21bc.eot?#iefix") format("eot"),
	        url("funka/fonts/webfonts/c18aee57-7585-4a8b-9a1c-69d226301d73.woff") format("woff"),
            url("funka/fonts/webfonts/44ccbb2b-0fbc-4d95-b1da-0aa73bd26fb0.ttf") format("truetype");
}

body, html {
    font-size: 100%;
}

body {
   
    color: #000;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height: 1;
    margin: 0 auto;
    padding: 0;
    position: relative;
    padding: 0;
     background: #fff;
    background-image: url('cssimg/logo_funka.svg');
    background-repeat: no-repeat;
    background-position: 50% 20px;
}
a {
    color: #444a4c;
}


* {
    box-sizing: border-box;
}


.text--error {
    color: #ed4c1c;
    font-weight: normal;
}


.login-wrapper {
    margin: 0 20px;
}

    .login-wrapper.img1 {
        background-image: url('../images/login/Pictures_Page_1-min.jpg');
    }

    .login-wrapper.img2 {
        background-image: url('../images/login/Pictures_Page_2-min.jpg');
    }

    .login-wrapper.img4 {
        background-image: url('../images/login/Pictures_Page_4-min.jpg');
    }

    .login-wrapper.img5 {
        background-image: url('../images/login/Pictures_Page_5-min.jpg');
    }

.modal {
    background-color: #87d3a0;
    max-width: 600px;
    padding: 2rem;
    margin: 110px auto 0 auto;
}




        .modal label {
            display: block;
            margin-bottom: 5px;
        }

        .modal input[type="text"], 
        .modal input[type="password"], 
        .modal input[type="email"] {
            background: #fff;
            border: 1px solid #e2e2e2;
            outline: none;
            transition: all .2s ease-in-out;
        }

            .modal input[type="text"]:focus, 
            .modal input[type="password"]:focus, 
            .modal input[type="email"]:focus {
                box-shadow: 0 0 5px #87d3a0;
            }

        .modal input[type="text"], 
        .modal input[type="password"], 
        .modal input[type="email"], 
        .modal input[type="submit"] {
            font-size: 1rem;
            padding: 10px;
            width: 100%;
        }

        .modal input[type="submit"] {
            background-color: #efefee;
            border: 1px solid transparent;
            color: #333;
            cursor: pointer;
            display: inline-block;
            font-family: "AvantGardeGothic Semi","Myriad Pro",Helvetica,Arial,sans-serif;
            font-size: 16px;
            font-weight: normal;
            line-height: 1.35;
            margin: 0;
            padding: 0.6em 0;
            position: relative;
            text-align: center;
            text-decoration: none;
            transition: background-color 300ms ease-out 0;
            width: 100%;
        }

        .modal input[type="checkbox"] {
            margin-right: 4px;
        }

        .modal p {
            margin: 0;
        }

.cookie-information {
    height: auto;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    padding-top: 10px;
    text-align: left;
    transition: all .1s ease-in;
}

.cookie-information.is-visible {
    max-height: 100px;
    opacity: 1;
    transition: all .2s ease-in;
}



input[type="text"], 
input[type="password"], 
textarea {
    background-color: #fff;
    border: 1px solid #bbb;
    border-radius: 2px;
    box-sizing: border-box;
    color: #333;
    display: block;
    margin: 0 0 0.35rem;
    padding: 0.6em 0.5rem;
    width: 100%;
}

label {
    font-family: "AvantGardeGothic Semi","Myriad Pro",Helvetica,Arial,sans-serif;
    display: inline;
    margin: 0;
}

label.not-bold {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: normal;
    display: inline !important;
    font-size: 1rem;
    margin: 0;
}

.form-field {
    line-height: 1.35;
    margin: 0 0 1.3rem 0;
}

.errorOnThis {
    margin-bottom: 0.5rem;
    padding: 1rem;
    background-color: #ffded9;
}

label .customValidationMessage {
    background: rgba(0, 0, 0, 0) url("cssimg/icons-sprite.svg") no-repeat scroll 0 -3547px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: normal;
    padding-left: 23px;
}

.modal a:focus, 
.modal input:focus, 
.modal button:focus,
.modal textarea:focus {
    outline: 2px solid #00a0d4;
}

.modal input[type=submit]:focus,
.modal input[type=submit]:hover {
    background-color: #000;
    border: 1px #000 solid ;
    color: #fff;
}


/* Error Handling */
.error input,
input.error,
.error textarea,
textarea.error {
    border-color: #b10202;
    background-color: #ffded9;
}

    .error input:focus,
    input.error:focus,
    .error textarea:focus,
    textarea.error:focus {
        background: #fafafa;
        border-color: #000;
    }

.error label,
label.error {
    color: #b10202;
}

.errorOnThis {
    background-color: #ffded9;
    padding: 1rem;
    padding-bottom: 0.3rem;
    margin-bottom: 1rem;
}

    .errorOnThis .field-validation-error {
        background-color: transparent;
        color: #000;
        margin: 5px 0;
        padding: 0;
    }

    .errorOnThis input, .errorOnThis textarea {
        background-color: #fff;
        border-color: #b10202;
    }

header .errorOnThis.js-validation-summary-errors {
    padding-bottom: 0;
    margin-bottom: 0;
    background: url(cssimg/icons-sprite.svg) #ffded9 16px -3487px no-repeat;
    padding-left: 49px;
}

    header .errorOnThis.js-validation-summary-errors p {
        margin-bottom: 0;
        outline: none;
    }

header .errorOnThis {
    padding: 1rem;
    margin-bottom: 0.5rem;
    border: 0;
}

    header .errorOnThis p {
        display: inline-block;
    }

.error small, small.error, span.error, small.field-validation-error {
    background: none repeat scroll 0 0 #b10202;
    border-radius: 3px;
    color: #fff;
    display: block;
    font-size: 14px;
    font-weight: bold;
    margin: 3px 0;
    padding: 0.6em;
    line-height: 14px;
}

/* error summary */
.errorInfo, .ValidationSummary {
    /*margin: 10px 0;*/
    padding: 1em;
    background-color: #ffded9;
    font-weight: bold;
    width: 95%;
    padding: 2%;
    margin: auto;
    margin-top: 2%;
}

    .errorInfo a, .ValidationSummary a {
        color: #000;
        font-weight: bold;
    }

    .errorInfo ul, .ValidationSummary ul {
        margin: 0;
        margin-top: 1rem;
        font-weight: normal;
    }

        .errorInfo ul li, .ValidationSummary ul li {
            list-style: none;
            margin-left: 0 !important;
            padding-left: 0 !important;
        }

.toggleThis .validation-summary-errors {
    width: 95% !important;
}

.errorLabelContainer .validation-summary-errors {
    padding: 1em;
    background-color: #ffded9;
    margin: auto;
    margin-top: 1rem;
}

.centerArea .errorLabelContainer .validation-summary-errors {
    margin-bottom: 1rem;
}

.errorLabelContainer .validation-summary-errors a {
    color: #000;
    font-weight: bold;
}

.errorLabelContainer .validation-summary-errors ul {
    margin: 0.5rem 1rem 0 1rem;
}

    .errorLabelContainer .validation-summary-errors ul li {
        list-style-type: disc;
        padding: 0.25rem 0 !important;
        font-family: "AvantGardeGothic Semi", "Myriad Pro", Helvetica, Arial, sans-serif;
        margin-left: 0;
    }

.errorLabelContainer h2 {
    background: url(cssimg/icons-sprite.svg) 0 -3497px no-repeat;
    padding-left: 33px;
}

.errorLabelContainer h3 {
    background: url(cssimg/icons-sprite.svg) 0 -3497px no-repeat;
    padding-left: 33px;
}

.errorLabelContainer h4 {
    background: url(cssimg/icons-sprite.svg) 0 -3497px no-repeat;
    padding-left: 33px;
    padding-bottom: 10px;
}

.workshop .Form__Status.errorOnThis {
    display: none !important;
}

.customValidationMessage, .field-validation-error span, .Form__Element__ValidationError {
    font-weight: normal;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background: url(cssimg/icons-sprite.svg) 0 -3550px no-repeat;
    padding-left: 23px;
    color: #000 !important;
}

.field-validation-error span {
    display: block;
}

.validation-summary-valid {
    display: none;
}

.field-validation-valid {
    display: none;
}

#__ba_panel {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
}