﻿@using EPiServer.Web.Routing
@using Furb.Main.Lib.Epi.Extensions
@using Furb.Main.Lib.EpiExtensions
@using Furb.Main
@model Furb.Features.Pages.Shared.ContentPageData

<div class="panel pagePartial teaser">
    <div class="media clickableArea highlight">
        <div class="panelTextWrapper">
            <h2>
                <a href="@UrlResolver.Current.GetUrl(Model.ContentLink)">@HtmlHelpers.TeaserLinkText(Model)</a>
            </h2>

            <p class="teaserText">
                @Model.GetTeaserText()
            </p>
        </div>

        @if (Model.PrimaryImageBlock != null && Model.PrimaryImageBlock.Image != null && !Model.PrimaryImageBlock.Image.IsNullOrEmpty())
        {
            <div class="panelImage">
                @Html.DisplayFor(x => x.PrimaryImageBlock)
            </div>
        }
    </div>
</div>