﻿@model Furb.Features.LocalBlocks.Editor.EditorBlock

<div @Html.EditAttributes(x => x.Text)>
    @if (Model?.Text != null && !Model.Text.IsEmpty)
    {
    <div class="editorBlock">
        @Html.DisplayFor(x => x.Text)
    </div>
    }
</div>