﻿//
// Variables
//


//--------------------------------------------------------------*/
// CONTENTFUNCTIONS - EasyRead & SignLanguage
//--------------------------------------------------------------*/

// CSS FOR ALL DEVICES

.contentfunctions { 
	border: 1px solid $border-color;
	border-radius: 10px;
	overflow: hidden;
	padding: 3px 20px 0 20px;

	a { 
        display: inline-block; 
	}

	ul { 
        overflow: hidden; 
        margin: 0; 
        padding-left: 20px; 

        li {
		    margin: 0 2em 0 0; 
		    list-style: none;
		    float: left;
		    padding: 5px 0;
	    }
	}
	
	#easyread, #signlanguage {
		border-top: 1px solid $border-color;
		margin-top: 1em;
		padding: 1em 0;
		clear: both;
	}
}



//--------------------------------------------------------------*/
// CODE ABOVE IS FOR ALL SCREENS 
// MEDIA QUERIES BELOW IS FOR MEDIUM-UP & LARGE-UP
//--------------------------------------------------------------*/

//--------------------------------------------------------------*/
// MEDIUM > LARGE SCREEN
@include breakpoint(medium) {

}

//--------------------------------------------------------------*/



//--------------------------------------------------------------*/
// LARGE AND ABOVE SCREEN
@include breakpoint(large) {

}
//--------------------------------------------------------------*/