.svg {
    h1 {
        //color:red;
    }
}

.no-svg {

    header {
        .functionLinks {
            .account, .lang, .search {
                a {
                    background-image: url("cssimg/icons-sprite.png");
                }
            }
        }
    }

    h1 {
        //color:blue;
        //background-image: url(cssimg/same_name.png);
    }

    footer {
        .contactInfo {
            li {
                &.phone, &.mail {
                    &:before {
                        background-image: url("cssimg/icons-sprite.png");
                    }
                }
            }
        }
    }

}