$small-screen: 768px;

.lt-ie9 {

	.row { width: 984px; max-width: 100%; min-width: 768px; margin: 0 auto; }
	.row.large-collapse .column, .row.large-collapse .columns { padding: 0; }
	.row .row { width: auto; max-width: none; min-width: 0; margin: 0 -15px; }
	.row .row.large-collapse { margin: 0; }
 
	.column, .columns { float: left; min-height: 1px; padding: 0; position: relative; }
	.column.large-centered, .columns.large-centered, .column.medium-centered, .columns.medium-centered { float: none; margin: 0 auto; }
// xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
//  Just for this site

header li { margin-left: 1em; padding: 0.4em 0; }

header .functionLinks a { padding: 6px 1.5em 6px 3em; }

.quickSearchArea { padding: 1.7em 0; }


.localnavigation, .centerArea { margin-top: 15px; border: 0;}

.globalNavigation li  { padding: 5px; float: left;}


input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea { margin: 0 0 0.35em 0; padding: 0.5em; height: 2.3125em; }

h1 {
    font-size: 38px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 23px;
}

h4 {
    font-size: 20px;
}

h5 {
    font-size: 16px;
}

h6 {
    font-size: 16px;
}
// xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

	[class*="column"] + [class*="column"]:last-child { float: right; }
	[class*="column"] + [class*="column"].end { float: left; }
 
	.medium-1, .row .medium-1, .large-1, .row .large-1 { width: 8.33333%; }
 
	.medium-2, .row .medium-2, .large-2, .row .large-2 { width: 16.66667%; }
 
	.medium-3, .row .medium-3, .large-3, .row .large-3 { width: 25%; }
 
	.medium-4, .row .medium-4, .large-4, .row .large-4 { width: 33.33333%; }
 
	.medium-5, .row .medium-5, .large-5, .row .large-5 { width: 41.66667%; }
 
	.medium-6, .row .medium-6, .large-6, .row .large-6 { width: 50%; }
 
	.medium-7, .row .medium-7, .large-7, .row .large-7 { width: 58.33333%; }
 
	.medium-8, .row .medium-8, .large-8, .row .large-8 { width: 66.66667%; }
 
	.medium-9, .row .medium-9, .large-9, .row .large-9 { width: 75%; }
 
	.medium-10, .row .medium-10, .large-10, .row .large-10 { width: 83.33333%; }
 
	.medium-11, .row .medium-11, .large-11, .row .large-11 { width: 91.66667%; }
 
	.medium-12, .row .medium-12, .large-12, .row .large-12 { width: 100%; }
 
	.medium-12, .row .medium-12 { width: 100%; }
	.row .medium-offset-1 { margin-left: 8.33333%; }
	.row .medium-offset-2 { margin-left: 16.66667%; }
	.row .medium-offset-3 { margin-left: 25%; }
	.row .medium-offset-4 { margin-left: 33.33333%; }
	.row .medium-offset-5 { margin-left: 41.66667%; }
	.row .medium-offset-6 { margin-left: 50%; }
	.row .medium-offset-7 { margin-left: 58.33333%; }
	.row .medium-offset-8 { margin-left: 66.66667%; }
	.row .medium-offset-9 { margin-left: 75%; }
	.row .medium-offset-10 { margin-left: 83.33333%; }
 
	.pull-2 { right: 16.66667%; }
	.pull-3 { right: 25%; }
	.pull-4 { right: 33.33333%; }
	.pull-5 { right: 41.66667%; }
	.pull-6 { right: 50%; }
	.pull-7 { right: 58.33333%; }
	.pull-8 { right: 66.66667%; }
	.pull-9 { right: 75%; }
	.pull-10 { right: 83.33333%; }
 
	.push-2 { left: 16.66667%; }
	.push-3 { left: 25%; }
	.push-4 { left: 33.33333%; }
	.push-5 { left: 41.66667%; }
	.push-6 { left: 50%; }
	.push-7 { left: 58.33333%; }
	.push-8 { left: 66.66667%; }
	.push-9 { left: 75%; }
	.push-10 { left: 83.33333%; }
 
	//.row { *zoom: 1; } // Does not validate
	.row:before, .row:after { content: " "; display: table; }
	.row:after { clear: both; }

	.hide-for-small-only { display: block !important; }
	.show-for-small-only { display: none !important; }

// BUTTONs for IE8 and older
	button, .button, input[type="button"], input[type="submit"] {
		background-color: $button-bgColor-std;

		&:hover { background-color: lighten($button-bgColor-std, 7%); }
		&:focus, &:active { background-color: darken($button-bgColor-std, 5%); }

	}

    #sharethislinks {

	    a, button {
            background-image: url(cssimg/icons-sprite.png);
        }
    }
//}

}