//
// Variables
//

// We use this to control the display property.
$button-display:						inline-block;

// We use these to control button text styles.
$button-font-family:					inherit;
$button-font-color:						#000;
$button-font-color-alt:					#fff;
$button-font-tiny:						14px;
$button-font-small:						16px;
$button-font-normal:					16px;
$button-font-large:						18px;
$button-font-weight:					normal;
$button-font-align:						center;

// We use these to controls background-color. Alert and success colors is in forms.scss
$button-bgColor-std:					$color-gray-light;
$button-bgColor-white:					$color-white;

// We use this to set the default radius used throughout the core.
//$button-radius:							100px;


//@import "../../foundation/_global";



//
// Button Mixins
//

@mixin box-shadow($s1, $s2, $s3, $s4, $red, $green, $blue, $alpha, $inset ) {
	box-shadow:  $s1 $s2 $s3 $s4 rgba($red, $green, $blue, $alpha) unquote($inset);
}

//--------------------------------------------------------------*/
// BUTTON ELEMENTS
//--------------------------------------------------------------*/

// CSS FOR ALL DEVICES


button, .button, input[type="button"], input[type="submit"] {
    position: relative;
    line-height: 1.35;
    transition: background-color 400ms ease-out 0s;
    border: 2px solid $color-gray-middle;
    font-family: $button-font-family;
    font-weight: $button-font-weight;
    margin: 0;
    text-align: center;
    text-decoration: none;
    padding: 0.6em 1em;
    display: $button-display;
    font-size: $button-font-normal;
    cursor: pointer;
    background-color: $button-bgColor-std;
    color: $button-font-color;
    width: 100%;

    .active & {
        &.nocursor {
            cursor: default;

            &:hover {
                background-color: initial;
                background-color: $color-black;
                border: 2px solid $color-black;
                color: $color-white;
            }
        }
    }


    &:hover, &:focus {
        background-color: $color-black;
        border: 2px solid $color-black;
        color: $color-white;
    }

    &:active {
        background-color: lighten($color-black, 50%);
    }

    &.tiny {
        padding: 0.3em 1em;
        font-size: $button-font-tiny;
    }

    &.small {
        padding: 0.4em 1em;
        font-size: $button-font-small;
    }

    &.large {
        padding: 0.6em 1em;
        font-size: $button-font-large;
    }

    &.lightGray {
        background-color: $color-gray-light;
        color: $color-black;
        text-decoration: underline;

        &:hover, &:focus {
            background-color: $color-gray-light;
            text-decoration: none;
            border-color: $color-gray-light;
        }

        &:active {
            background-color: $color-gray-light;
            color: $color-black;
        }
    }

    &.blue {
        background-color: $color-blue-light;
        color: $color-black;
        border-color: $color-blue-light;

        &:hover, &:focus {
            background-color: $color-blue-lighter;
        }

        &:active {
            background-color: lighten($color-blue-lighter, 5%);
            color: $color-black;
        }
    }

    &.green, &.success {
        background-color: $color-green-light;
        color: $color-black;
        border-color: $color-green-light;

        &:hover, &:focus {
            background-color: $color-green-lighter;
        }

        &:active {
            background-color: lighten($color-green-lighter, 5%);
            color: $color-black;
        }
    }

    &.white {
        background-color: $color-white;
        color: $color-black;

        &:hover, &:focus {
            border-color: $color-gray-dark;
            background-color: $button-bgColor-std;
        }

        &:active {
            background-color: $button-bgColor-std;
        }
    }

    &.black {
        background-color: $color-black;
        color: $color-white;
        border-color: $color-black;

        &:hover, &:focus {
            background-color: $button-bgColor-std;
            border-color: $color-gray-dark;
            color: $color-black;
        }

        &:active {
            background-color: darken($button-bgColor-std, 5%);
            border-color: darken($border-color, 5%);
        }
    }
}

//--------------------------------------------------------------*/
//--------------------------------------------------------------*/
//--------------------------------------------------------------*/
// CSS for screen
@media only screen {

}


//--------------------------------------------------------------*/
// CODE ABOVE IS FOR ALL SCREENS 
// MEDIA QUERIES BELOW IS FOR MEDIUM-UP & LARGE-UP
//--------------------------------------------------------------*/

//--------------------------------------------------------------*/
// MEDIUM > LARGE SCREEN
@include breakpoint(medium) {

	.button {
		display: inline-block; 
	} 

}

//--------------------------------------------------------------*/



//--------------------------------------------------------------*/
// LARGE AND ABOVE SCREEN
@include breakpoint(large) {

}
//--------------------------------------------------------------*/