﻿//
// Variables
//


//--------------------------------------------------------------*/
// COLORS
//--------------------------------------------------------------*/

// STD COLORS
$color-white:						#fff; 
$color-black:						#000;


// GRAY
$color-gray-dark:                   #5a5a5a;
$color-gray:						#f0f0f0;
$color-gray-light:                  #f8f8f8;
$color-gray-middle:                 #cacaca;

// GREEN
$color-green: #69c888;
$color-green-light:                 #87d3a0;
$color-green-lighter:               #a5deb8;

// BLUE
$color-blue:						#00a0d4;
$color-blue-light:                  #33b3dd;
$color-blue-lighter:                #80cfe9;

// Tabbed - border -etc
$tabbed-color:                      $color-blue;
$border-color:						#b3b3b3;
$border-color-search:				#c0c0c0;

// Navigation
$navigation-font-color-white:		$color-white;
$navigation-font-color-black:		$color-black;
$navigation-color-gray:             $color-gray-light;
$navigation-color-gray-dark:		#b9b9b9;
$navigation-color-active:			#4f5150;

// Mobilenavigation
$mobileNavigation-font-color-light:	$color-white;
$mobileNavigation-font-color-dark:	$color-black;
$mobileNavigation-color-gray:		$navigation-color-gray;
$bgColor-mobileNavigation-active:   $color-gray-dark;
$bgColor-mobileNavigation-activeL2: $color-black;//#6b6c67;

$mobileNavigation-border-color:	    #e4e4e4;
$mobileNavigation-bgColor-odd:      $color-white;
$mobileNavigation-bgColor-even:     $navigation-color-gray;

// Error colors
$error-red:							$alert-color; //From _foundation-global.scss
$error-pink:						#f9e6e7;
