//
// Variables
//


//--------------------------------------------------------------*/
// FOOTER
//--------------------------------------------------------------*/

// CSS FOR ALL DEVICES

footer {
    min-height: 200px;
    position: relative;
    background-color: $color-gray;
    padding: 2.25rem 0;
    margin-top: 2.25rem;

    a {
        color: $color-black;

        &.underline-link {
            border-bottom: 3px solid #000;
        }
    }

    h1, h2 {
        font-size: $h1-font-size-footer;
        font-family: $open-sans;
        font-weight: bold;
        margin-top: 2rem;
        line-height: 1.35;
    }

    .editorBlock {
        border: 0;
        padding: 0;
        background-color: transparent;
    }

    .contactInfo {
        p {
            padding: 12px 0;
            margin-bottom: 0;
        }
    }

    ul {
        padding: 0;
        list-style: none;
        margin: 0;

        li {
            padding: 4px 0;

            a {
                display: block;
                padding: 6px 0;

                &:before {
                    content: "";
                    float: left;
                    width: 20px;
                    height: 30px;
                    margin: -3px 5px 0 0;
                    background: url("cssimg/icons-sprite.svg") 0 11px no-repeat;
                }
            }
        }
    }
}



//--------------------------------------------------------------*/
// CODE ABOVE IS FOR ALL SCREENS 
// MEDIA QUERIES BELOW IS FOR MEDIUM-UP & LARGE-UP
//--------------------------------------------------------------*/

//--------------------------------------------------------------*/
// MEDIUM > LARGE SCREEN
@include breakpoint(medium) {

	footer {
		min-height: 350px;

        h1, h2 {
            border: 0;
            margin-top: 1rem;
            margin-bottom: 0;
            padding-top: 0;
	    }
	}

}

//--------------------------------------------------------------*/



//--------------------------------------------------------------*/
// LARGE AND ABOVE SCREEN
@include breakpoint(large) {

}
//--------------------------------------------------------------*/