//
// Variables
//

$globalNavigation-font-size:	16px;
$localNavigation-font-size:		15px;
$mobilelTriggers-font-size:	    18px;
$mobilelNavigation-font-size:   16px;

//--------------------------------------------------------------*/
// GLOBALNAVIGATION
//--------------------------------------------------------------*/

// CSS FOR ALL DEVICES

.globalNavigationArea {
    overflow: hidden;
    display: block;
    background-color: $color-gray;
}

.globalNavigation {

    ul, li {
        margin: 0;
        padding: 0;
        list-style: none;
    }


    ul {
        display: inline-block;
    }

    li {
        background-color: transparent;
        text-align: center;
        padding: 0 2px;

        a, span {
            font-size: $globalNavigation-font-size;
            padding: 21px 15px;
            display: block;
            color: $color-black;
            //background-color: $color-white;
            font-weight: bold;
            text-decoration: none;
            line-height: 1rem;
        }

        a {
            &:hover, &:focus {
                background-color: $color-gray-dark;
                color: $color-white;
            }
        }

        &.active {

            a, span {
                background-color: $color-gray-dark;
                color: $color-white;
            }
        }
    }
}



//--------------------------------------------------------------*/
// LOCALNAVIGATION
//--------------------------------------------------------------*/
.localNavigation {
    margin: 0 0 3rem 0;
    background-color: $color-white;
    padding-top: 55px;

    a, span {
        color: $header-color;
        font-size: $localNavigation-font-size;
        display: block;
        padding: 9px 5px 9px 11px;
        font-weight: normal;
        text-decoration: none;
    }

    a {
        &:hover, &:focus {
            background-color: $navigation-color-gray;
            text-decoration: underline;
        }
    }

    .active {
        a {
            font-weight: bold;
            background-color: $navigation-color-gray;
        }

        li a {
            font-weight: normal;
            background-color: transparent;
        }

        .active {
            a {
                font-weight: bold;
            }

            li a {
                font-weight: normal;
            }

            .active {
                a {
                    font-weight: bold;
                }

                li a {
                    font-weight: normal;
                }
            }
        }
    }


    .selected span {
        font-weight: bold;
    }

    .active li a, .active .active li a {
        background-image: none;
    }

    span {
        background-color: $color-gray;
        color: $color-black;
        background-color: $color-gray-dark;
        color: $color-white;
    }

    ul, li {
        list-style: none;
        padding-left: 0;
    }

    ul {
        clear: both;
        margin: 0;
        border-top: 2px solid $color-gray-middle;

        li {
            border-bottom: 1px solid $color-gray-middle;
            color: $navigation-font-color-black;
        }

        ul {
            border-top: 0;
            background-color: $navigation-color-gray;
            padding-left: 20px;
            margin-left: 0;

            li {
                border-bottom: 0;
            }

            a:hover, a:focus {
                background-color: $color-white;
            }

            ul {
                background-color: $color-white;
                padding-left: 20px;

            }

            .selected a {
                background-color: $color-white;

                &:hover, &:focus {
                    background-color: $navigation-color-gray;
                }
            }
        }
    }
}


//--------------------------------------------------------------*/
// MOBILE VIEW - MENY & SEARCH
//--------------------------------------------------------------*/
div {
    .mobileNavigation .menuItem > div.row {
        //background-color: $navigation-color-gray;
    }
}
//--------------------------------------------------------------*/
// CODE ABOVE IS FOR ALL SCREENS
// MEDIA QUERIES BELOW IS FOR MEDIUM-UP & LARGE-UP
//--------------------------------------------------------------*/
//--------------------------------------------------------------*/
// MEDIUM > LARGE SCREEN
@include breakpoint(medium) {

    .globalNavigation {
        li {
            a, span {
                padding: 21px 15px;
            }
        }
    }
}
//--------------------------------------------------------------*/
//--------------------------------------------------------------*/
// LARGE AND ABOVE SCREEN
@include breakpoint(large) {

    .globalNavigation {
        li {
            a, span {
                padding: 21px;
            }
        }
    }
}
//--------------------------------------------------------------*/