//
// Progress Bar Variables
//

// We use this to se the prog bar height
$progress-bar-height:			23px;

$progress-bar-font-size:		14px;
$progress-bar-font-weight:		bold;
$progress-bar-font-color1:		#fff;
$progress-bar-font-color2:		#777;

$progress-bar-color:			#e3e3e3;
$progress-meter-color:			$primary-color;
$progress-meter-bgcolor:		#a5d066;
$progress-meter2-bgcolor:		#7fc87f;
$progress-meter3-bgcolor:		#3aa83a;


// Radius
$progress-bar-border-radius: 5px;



//
// Progress Bar Mixins
//

// We use this to set up the progress bar container

/* GREEN SLIDER
--------------------------------------------------------------*/
.progress {
	clear: both;
	background-color: $progress-bar-color;
	color: $progress-bar-font-color2;
	height: $progress-bar-height;
	padding: 0;
	margin: 0;
	font-size: $progress-bar-font-size;
	border-radius: $progress-bar-border-radius;
	line-height:1;
	position: relative;
	font-family: Arial, sans-serif;

	.meter, .meterMiddle, .meterGifts {
		background-color: $progress-meter-bgcolor;
		background: linear-gradient(to bottom, #a5d066 0%,#82af43 100%); /* W3C */
		background-position: 100% 50%;
		background-repeat: no-repeat;
		height: 100%;
		display: inline-block;
		border-radius: $progress-bar-border-radius;
		float: left;
		max-width: 100%;

		.progressValue { 
			float: right; 
		}
	}

	.progressValue { 
		padding: 4px 7px 0; 
		display: inline-block; 
		font-weight: bold;
		color: $progress-bar-font-color1;
		text-shadow: -1px 0px 1px $color-black;
	}
}

.activitymeterblock  {
	line-height:16px;

	.progress {
		font-size: 24px;
		height: 40px;
		display: block;
		box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);

		.meter, .meterMiddle, .meterGifts, .progressValue {
			height: 40px;
			position: absolute;
		}

		.meterGifts {
			background-image: none;
			background-color: $progress-meter2-bgcolor;
			border-radius: $progress-bar-border-radius;
			z-index: 2;
		}

		.meterMiddle {
			background-image: none;
			background-color: $progress-meter3-bgcolor;
            background: linear-gradient(to bottom, #55bd56 0%,#3aa83a 100%); /* W3C */
			z-index: 3;
		}

		.meter {
			background-color: $progress-meter-bgcolor;
			background: linear-gradient(to bottom, #37b238 0%,#259e25 100%); /* W3C */
			z-index: 4;
		}

		.progressValue { 
			text-align:right;
			z-index: 5;
			padding: 0 10px; 
			line-height: 40px;
		}
	}

	h2 { float: left; }

	.explainPrecent { 
		position: relative;
		margin-bottom: 20px;
		line-height: 1.2em; //116x
		overflow: hidden;
		padding: 0;
		vertical-align: top;

		span {
			font-size: 0.875em;
			padding: 0px 3px 0px 0;
			display: inline-block;
			line-height: 14px;

			&:before {
				content: " ";
				height: 15px;
				position: relative;
				display: inline-block;
				width: 12px;
				margin: 0 2px 0 -0.8em;
				border-top: 3px solid white;
			}
			
			&.notifications {
				padding: 0 15px;
				
				&:before {
					background-color: #37b238;
				}
			}

			&.notificationMiddle {
				padding: 0 15px;
				
				&:before {
					background-color: $progress-meter3-bgcolor;
				}
			}

			&.gifts {
				padding: 0 15px;

				&:before {
					background-color: $progress-meter2-bgcolor;
				}
			}
		}


	}

	.smallInfoText {
		font-size: 14px;
		border-top: 1px solid $border-color;
		border-bottom: 1px solid $border-color;
		padding: 5px 0;
		margin: 12px 0 10px 0;

		span {

			&:first-of-type {
				float: left;
			}

			&:last-of-type {
				float: right; 
				border: 0;
			}
		}

		strong {
			font-size:18px;
		}
	}

	.smallInfoText.newStyle {
		border-bottom: 0;
		border-top: 1px solid $border-color;;
		padding: 5px 0;
		margin: 0;

		&:first-of-type {
			border: 0;
			margin-top: -11px;
		}
	}


}

.collectionlistblock .activitymeterblock {
	.progress{
		font-size: 14px;
		height: 23px;
		box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.1);

		.meter, .meterGifts, .progressValue {
			height: 23px;
		}

		.progressValue {
			line-height: 24px;
		}
	}

	.smallInfoText, strong {
		font-size: 0.75rem;
	}
	.smallInfoText {
		border: 0;
		padding: 0;
		margin-top: 10px;
	}
}



//--------------------------------------------------------------*/
// CODE ABOVE IS FOR ALL SCREENS 
// MEDIA QUERIES BELOW IS FOR MEDIUM-UP & LARGE-UP
//--------------------------------------------------------------*/

//--------------------------------------------------------------*/
// MEDIUM > LARGE SCREEN
@include breakpoint(medium) {

}

//--------------------------------------------------------------*/



//--------------------------------------------------------------*/
// LARGE AND ABOVE SCREEN
@include breakpoint(large) {

}
//--------------------------------------------------------------*/